.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.infoContainer {
  display: flex;
  gap: 16px;
  box-shadow: 0px 2px 3px #00000029;
  padding: 16px 13px;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  justify-content: center;
}

.calendarIcon {
  object-fit: contain;
  width: 22px;
}

.arrowDown {
  object-fit: contain;
  width: 16px;
}

.title {
  font-size: 16px;
  color: #8B8B8B;
}

.date {
  color: #6A6A6A;
}

.buttonArrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calendarContainer {
  background-color: white;
  padding: 20px;
  animation-duration: 100ms;
}

@media(max-width: 667px) {
  .infoContainer {
    gap: 6px;
    justify-content: flex-start;
    padding: 8px 6px;
    align-items: center;
    width: fit-content;
    margin-top: 15px;
  }

  .infoContainer p {
    font-size: 11px;
  }

  .calendarIcon {
    object-fit: contain;
    width: 22px;
  }
}