.container {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 8px;
  background-color: #FFE7BD;
}

.image {
  object-fit: contain;
  width: 80px;
}

.info {
  padding: 8px 11px;
  width: 100%;
}

.sales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info h3 {
  font-size: 20px;
  color: #000000DE;
}

.info p {
  color: #00000099;
  opacity: 1;
}