* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #F7F7F7;
  min-height: 100vh;
}

.content {
  display: flex;
  margin-top: 64px;
  height: 100vh;
}

.salesContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0px;
  color: #707070C4;
  opacity: 1;
  font-size: 40px;
}

.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
